#
# Bluetooth
#
CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BT_LE_HCI_EVT_BUF_SIZE=257
#CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
#CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
#CONFIG_BTDM_CTRL_MODE_BTDM=n
